<footer>
    <h6 style="text-align: center;">&copy;&nbsp;Copyright Ravneet Singh - COMP229 - Fall 2021</h6>
    <!-- scripts -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
</footer>
</body>

</html>